* {
  min-width: 0;
  box-sizing: border-box;
}
@layer base, layout;
body {
  margin: unset;
  --hue-primary: 50; /* orange */
  --hue-secondary: 240; /* blue */
  --primary-100: oklch(95% 0.02 var(--hue-primary));
  --primary-200: oklch(90% 0.1 var(--hue-primary));
  --primary-300: oklch(80% 0.2 var(--hue-primary));
  --primary-400: oklch(72% 0.22 var(--hue-primary));
  --primary-500: oklch(67% 0.31 var(--hue-primary));
  --primary-600: oklch(50% 0.25 var(--hue-primary));
  --primary-700: oklch(30% 0.2 var(--hue-primary));
  --primary-800: oklch(13% 0.2 var(--hue-primary));
  --primary-900: oklch(5% 0.2 var(--hue-primary));
  --secondary-100: oklch(95% 0.02 var(--hue-secondary));
  --secondary-200: oklch(90% 0.1 var(--hue-secondary));
  --secondary-300: oklch(80% 0.2 var(--hue-secondary));
  --secondary-400: oklch(72% 0.22 var(--hue-secondary));
  --secondary-500: oklch(67% 0.31 var(--hue-secondary));
  --secondary-600: oklch(50% 0.25 var(--hue-secondary));
  --secondary-700: oklch(30% 0.2 var(--hue-secondary));
  --secondary-800: oklch(13% 0.2 var(--hue-secondary));
  --secondary-900: oklch(5% 0.2 var(--hue-secondary));
}
@media (prefers-color-scheme: light) {
  body {
    --primary-900: oklch(95% 0.02 var(--hue-primary));
    --primary-800: oklch(90% 0.1 var(--hue-primary));
    --primary-700: oklch(80% 0.2 var(--hue-primary));
    --primary-600: oklch(72% 0.22 var(--hue-primary));
    --primary-500: oklch(67% 0.31 var(--hue-primary));
    --primary-400: oklch(50% 0.25 var(--hue-primary));
    --primary-300: oklch(30% 0.2 var(--hue-primary));
    --primary-200: oklch(13% 0.2 var(--hue-primary));
    --primary-100: oklch(5% 0.2 var(--hue-primary));
    --secondary-900: oklch(95% 0.02 var(--hue-secondary));
    --secondary-800: oklch(90% 0.1 var(--hue-secondary));
    --secondary-700: oklch(80% 0.2 var(--hue-secondary));
    --secondary-600: oklch(72% 0.22 var(--hue-secondary));
    --secondary-500: oklch(67% 0.31 var(--hue-secondary));
    --secondary-400: oklch(50% 0.25 var(--hue-secondary));
    --secondary-300: oklch(30% 0.2 var(--hue-secondary));
    --secondary-200: oklch(13% 0.2 var(--hue-secondary));
    --secondary-100: oklch(5% 0.2 var(--hue-secondary));
  }
}
@property --hue-primary {
  syntax: '<number>';
  inherits: true;
}
@property --hue-secondary {
  syntax: '<number>';
  inherits: true;
}
@layer base {
  @import url('reactflow/dist/style.css');
  input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
    @mixin runnable-track {
      cursor: pointer;
      box-shadow: 0 0 0.2em var(--secondary-100);
      background: transparent;
      border-radius: 1em;
    }
    @mixin thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 1.5em;
      height: 1.5em;
      border-radius: 20%;
      background: var(--secondary-200);
    }
    &::-webkit-slider-runnable-track {
      @include runnable-track;
    }
    &::-moz-range-track {
      @include runnable-track;
    }
    &::-webkit-slider-thumb {
      @include thumb;
    }
    &::-moz-range-thumb {
      @include thumb;
    }
  }
}
